.breadcrumb-detail {
    background-color: #f8f8f8;
    color: #4a4a4a;
    font-size: 14px;
    border-top: 1px solid #ebebeb;
    margin-bottom: 5px;
}

    .breadcrumb-detail h2 {
        font-size: 36px;
        font-weight: 300;
    }

    .breadcrumb-detail .breadcrumb > .active {
        color: #4a4a4a;
    }

.theme-detail {
    color: #2c2c2c;
    padding-bottom: 20px;
}

    .theme-detail .page-header {
        padding-bottom: 0;
        border-color: #e0e0e0;
        margin-bottom: 15px;
        margin-top: 0;
    }

    .theme-detail h1 {
        color: #2c2c2c;
        font-weight: 100;
        margin-top: 10px;
        line-height : 45px;
    }

    .theme-detail h2 {
        color: #2c2c2c;
        font-weight: 300;
        margin: 25px 0 20px;
    }
    .theme-detail h3 {
        color: #2c2c2c;
        font-weight: 300;
        font-size : 26px;
        margin: 25px 0 20px;
        font-family : "Roboto";
    }
    .theme-detail ul{
        list-style-type : none;
        padding : 0;
        margin : 0;
    }
    .theme-detail ul li{
        background-image : url('../Images/icon-check.png');
        background-repeat : no-repeat;
        background-position : left top;
        padding-left : 40px;
        color : #848484;
        font-size : 14px;
        font-weight : 300;
        padding-bottom : 15px;
    }

    .theme-detail .short-description{
        display : block;
        padding-top : 3px;
        line-height : 24px;
    }

    .theme-detail .registration-button{
        text-align: center;
        margin-top : 10px;
    }
    .theme-detail .registration-button .btn-registration{
        line-height : 69px;
        font-size : 24px;
        font-weight : 500;
        padding : 0 45px;
        border-radius : 40px;
        outline : none;
        margin-bottom : 15px;
    }
    .theme-detail .registration-button .preview-theme{
        color : #8a8a8a;
        background-color : #f7f7f7;
        padding : 0 55px;
        border : 1px solid #e4e4e4;
        outline : none;
        display : inline-block;
        line-height : 69px;
        font-size : 24px;
        border-radius : 40px;
        text-decoration : none;
        font-weight : 500;
    }
    @media (max-width : 767px){
        .theme-detail .registration-button .preview-theme {
            font-size : 15px;
            line-height : 51px;
            width : 90%;
        }
    }
    .theme-detail .price-detail{
        text-align : center;
    }
    .theme-detail .price-detail a{
        color : #42b4e3;
        font-size : 14px;
        display : block;
        padding-top : 22px;
    }
    .theme-detail .price-detail .price{
        font-size : 36px;
        color : #2997e5;
        font-weight : bold;
        margin-top : 10px;
        padding-bottom : 20px;
    }

    .theme-detail span {
        color: #909090;
        font-size: 14px;
    }

    .theme-detail .btn-registration {
        margin-left: 0;
    }

    .theme-detail .quick-registration p {
        margin: 15px 0;
        text-align: center;
        font-size: 14px;
        color: #909090;
    }

    .theme-detail .quick-registration .btn-registration {
        display: block;
        text-align: center;
    }
    .dvimgTheme .thumbnail{
        border : unset;
    }

        .theme-detail .quick-registration .btn-registration.view-demo {
            background: #18a4dd;
        }

            .theme-detail .quick-registration .btn-registration.view-demo:before {
                background: #18a4dd;
            }

            .theme-detail .quick-registration .btn-registration.view-demo:hover {
                background-color: transparent;
                text-decoration: none;
            }

            .other-function h3{
                font-size : 26px;
                font-weight : 100;
                color : #2c2c2c;
            }
            .other-function .third-ul{
                font-size : 14px;
                font-weight : 100;
                color : #848484;
                list-style-type : none;
                padding : 0;
            }
            .other-function .third-ul li{
                background-image: url('../Images/icon-check.png');
background-repeat: no-repeat;
background-position: left top;
padding-left: 40px;
color: #848484;
font-size: 14px;
font-weight: 300;
padding-bottom: 15px;
            }

            .other-function h2{
                font-size : 26px;
                color : #2c2c2c;
                font-weight : 300;
                padding-bottom : 25px;
                font-family : "Roboto";
            }
            .other-function .first-ul{
                list-style-type : none;
                padding : 0;
                margin : 0;
            }
            .other-function .first-ul li{
                background-image : url('../Images/icon-check-round.png');
                background-position : top left;
                background-repeat : no-repeat;
                padding-left : 45px;
                color : #848484;
                font-size : 14px;
                padding-bottom : 14px;
            }
             .other-function .second-ul{
                list-style-type : none;
                padding : 0;
                margin : 0;
            }
             .other-function .second-ul img{
                 border-radius : 5px;
             }
             .other-function .second-ul li{
                 padding-bottom : 25px;
             }
             .other-function .second-ul p{
                 color : #444;
                 font-size : 14px;
                 font-weight : bold;
                 margin-bottom : 0;
             }
             .other-function .second-ul span{
                 font-size : 14px;
                 font-weight : 300;
                 color : #8e8f90;
             }
             .other-function .second-ul .text-app{
                 padding-left : 30px;
             }
             .other-function .second-col{
                 background-color : #f2f7fa;
             }
             .other-function .second-col h2{
                 color : #444;
                 font-size : 20px;
                 font-weight : 400;
             }
             @media (max-width : 991px){
                .other-function .second-col h2 {
                    padding-top : 15px;
                }
             }

.theme-author {
    margin-top: 35px;
    /*border-top: 1px solid #e0e0e0;*/
}

    .theme-author h4 {
        font-size: 18px;
        font-weight: lighter;
        color: #2c2c2c;
        margin-top: 20px;
    }

    .theme-author p {
        font-size: 14px;
        font-weight: lighter;
        color: #909090;
    }

    .theme-author a {
        display: inline-block;
        margin-right: 20px;
        color: #18a4dd;
        font-size: 14px;
    }

.theme-type {
    margin-top: 25px;
    /*border-top: 1px solid #e0e0e0;*/
}

    .theme-type .page-header {
        margin-top: 0;
        border-bottom: none;
        margin-bottom: 0;
    }

    .theme-type h2 {
        font-size: 26px;
        font-weight: 300;
        margin-top: 23px;
    }
    @media (max-width : 767px){
        .theme-type h2{
            font-size : 20px;
            text-align : center;
        }
    }

.modal {
    color: #909090;
}

@media (min-width: 768px) {
    .modal-dialog {
        width: 670px;
    }
}

.modal-themes {
    padding: 0 25px;
}

.modal .modal-header {
    padding-bottom: 5px;
}

.modal .modal-body {
    padding-bottom: 0;
    padding-top: 0;
}

.modal h3 {
    font-weight: 300;
    font-size: 26px;
    color: #2c2c2c;
    margin-top: 5px;
}

.modal-header {
    border-bottom: none;
}

.modal .quick-registration .input-site-name {
    font-size: 14px;
    padding: 14px 10px 13px 20px;
}

.modal .input-site-name {
    width: 100%;
}

.modal .banner-home-registration {
    border: none;
}

/*.modal .btn-login-store {
    background-color: #18a5dd;
}

    .modal .btn-login-store:before {
        background-color: #18a5dd;
    }*/
.btn-login-store {
    color: #ffffff;
    background-color: #18a5dd;
    border-radius: 31px;
    display: inline-block;
    line-height: 63px;
    padding: 0 35px;
    -webkit-transition: all 150ms ease;
    -moz-transition: all 150ms ease;
    transition: all 150ms ease;
    -webkit-transition-property: background-color border-color color;
    -moz-transition-property: background-color border-color color;
    transition-property: background-color border-color color;
    -webkit-user-select: none;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.5s;
    transition-duration: 0.5s;
    white-space: nowrap;
    font-size: 16px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

    .btn-login-store:before {
        content: "";
        border-radius: 31px;
        position: absolute;
        z-index: -1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: #18a5dd;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transform-origin: 50%;
        transform-origin: 50%;
        -webkit-transition-property: transform;
        transition-property: transform;
        -webkit-transition-duration: 0.5s;
        transition-duration: 0.5s;
        -webkit-transition-timing-function: ease-out;
        transition-timing-function: ease-out;
    }

    .btn-login-store:hover, .btn-login-store:focus, .btn-login-store:active {
        color: white;
        text-decoration: none;
    }

        .btn-login-store:hover:before, .btn-login-store:focus:before, .btn-login-store:active:before {
            -webkit-transform: scaleX(1);
            transform: scaleX(1);
        }

    .btn-login-store:hover {
        background-color: transparent;
        text-decoration: none;
    }

    #theme-detail .row.form-group{
        margin-bottom : 40px;
    }
     #theme-detail .other-function{
        padding-top : 20px;
    }

#theme-detail .btn-registration {
    margin-top: 0 !important;
}

#theme-detail .register-row{
    background-color : #f0f0f0;
    margin-bottom : 30px;
    margin-top : 40px;
}

#theme-detail .register-row p{
    font-weight : 100;
    color : #2c2c2c;
    font-size : 26px;
    margin-top : 50px;
    text-align : right;
    padding-right : 30px;
   
}
 @media (max-width : 1199px){
     #theme-detail .register-row p{
    font-size : 23px;
}
}
 @media (min-width : 768px) and (max-width : 991px){
    #theme-detail .register-row .btn-registration {
        font-size : 20px;
    }
    #theme-detail .register-row .first-col img {
        display : none;
    }
     #theme-detail .register-row p{
    margin-top : 40px;
}
 }
 @media (max-width : 767px){
     #theme-detail .register-row p{
    margin-top : 20px;
    text-align : center;
    padding-right : 0;
    font-size : 25px;
}
     #theme-detail .register-row .first-col img {
        display : none;
    }
     #theme-detail .register-row .btn-registration{
    margin-top : 10px !important;
    margin-bottom : 10px;
    text-align : center;
}
 }

#theme-detail .register-row .first-col{
    position : relative;
}
#theme-detail .register-row .first-col img{
    position : absolute;
    right : -15px;
    top : 35px;
}
#theme-detail .register-row .btn-registration{
    font-weight : 700;
    color : #fff;
    font-size : 24px;
    margin-top : 38px !important;
    margin-bottom : 38px;
}

@media only screen and (min-width:768px) {
    #theme-detail .btn-registration {
        margin-left: 0;
    }
}

@media only screen and (max-width:767px) {
    #theme-detail .btn-registration {
        margin-left: 0;
        width: 90%;
        padding: 0 10px;
        font-size: 15px;
        line-height : 53px;
    }
    .other-function .second-ul .text-app{
                 padding-left : 20px;
             }
}

.dvmodal .col-sm-8 {
    margin-bottom: 15px;
}

@media (min-width: 1024px) {
    .iphone-position {
        left: -70px;
    }
}
@media (min-width : 992px) and (max-width : 1199px){
    .iphone-position{
        left : -100px;
    }
}
.gento-column{
    text-align : center;
}
@media (max-width : 767px){
    .gento-column img{
        max-width : 314px;
    }
}